<footer class="border-top p-5 footer text-muted">
    <div class="container text-center">
        &copy; 2021 - Argenta - <a href="https://github.com/reimarrosas" target="_blank">Reimar Rosas</a>
    </div>
</footer>

@code {

}
