@page "/goals"

<PageTitle>Argenta | Goals</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <GoalTable CurrMod="@DecimalToCurrency" @bind-SelectedGoal="SelectedGoal" />
            </div>
        </div>
        <div class="col">
            <div class="wrapper">
                @if(SelectedGoal != null)
                {
                    <GoalUpdateTable CurrMod="@DecimalToCurrency" SelectedGoal="SelectedGoal" />
                }
            </div>
        </div>
    </div>
</div>

@code {
    public GoalDTO? SelectedGoal { get; set; }

    public string DecimalToCurrency(decimal val) => $"{val:C}";
}
